.react-datepicker__day--highlighted-custom-unavailable,
.react-datepicker__month-text--highlighted-custom-unavailable,
.react-datepicker__quarter-text--highlighted-custom-unavailable,
.react-datepicker__year-text--highlighted-custom-unavailable {
	color: #ccc !important;
	background-color: black !important;
	pointer-events: none !important;
}

.react-datepicker__month--highlighted-custom-unavailable:hover,
.react-datepicker__quarter--highlighted-custom-unavailable:hover {
	cursor: default;
	background-color: transparent;
}

.react-datepicker__day--highlighted-custom-arrivedepart,
.react-datepicker__month-text--highlighted-custom-arrivedepart,
.react-datepicker__quarter-text--highlighted-custom-arrivedepart,
.react-datepicker__year-text--highlighted-custom-arrivedepart {
	color: black !important;
	background-color: grey !important;
	pointer-events: none !important;
}

.react-datepicker__month--highlighted-custom-arrivedepart:hover,
.react-datepicker__quarter--highlighted-custom-arrivedepart:hover {
	cursor: default;
	background-color: transparent;
}

.react-datepicker__day--highlighted-custom-pre,
.react-datepicker__month-text--highlighted-custom-pre,
.react-datepicker__quarter-text--highlighted-custom-pre,
.react-datepicker__year-text--highlighted-custom-pre {
	color: black;
	background-color: rgb(181, 236, 98);
}

.react-datepicker__day--highlighted-custom-main,
.react-datepicker__month-text--highlighted-custom-main,
.react-datepicker__quarter-text--highlighted-custom-main,
.react-datepicker__year-text--highlighted-custom-main {
	color: black;
	background-color: rgb(243, 243, 114);
}

.react-datepicker__day--highlighted-custom-aft,
.react-datepicker__month-text--highlighted-custom-aft,
.react-datepicker__quarter-text--highlighted-custom-aft,
.react-datepicker__year-text--highlighted-custom-aft {
	color: black;
	background-color: rgb(181, 236, 98);
}

.react-datepicker__day--highlighted-custom-off,
.react-datepicker__month-text--highlighted-custom-off,
.react-datepicker__quarter-text--highlighted-custom-off,
.react-datepicker__year-text--highlighted-custom-off {
	color: black;
	background-color: burlywood;
}

.react-datepicker {
	font-size: 2.1vw;
}
@media (max-width: 1920px) {
	.react-datepicker {
		font-size: 2.5vw;
	}
}
/* @media (max-width: 1456px) {
  .react-datepicker {
    font-size: 2.8vw;
  }
} */
@media (max-width: 992px) {
	.react-datepicker {
		font-size: 4vw;
	}
}
@media (max-width: 768px) {
	.react-datepicker {
		font-size: 5vw;
	}
}

.react-datepicker__header.bigCalendar {
	padding-top: 0.8em;
}
.react-datepicker__month {
	margin: 0.4em 1em;
}
.react-datepicker__day-name,
.react-datepicker__day {
	width: 1.9em;
	line-height: 1.9em;
	margin: 0.166em;
}
.react-datepicker__current-month {
	font-size: 1em;
}
.react-datepicker__navigation {
	top: 1em;
	line-height: 1.7em;
	border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
	border-right-color: #ccc;
	left: 1em;
}
.react-datepicker__navigation--next {
	border-left-color: #ccc;
	right: 1em;
}