#headerPic {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 100vh;
	font-family: "Raleway", sans-serif;
}

.transparent {
	background-color: rgba(23, 163, 184, 0) !important;
	border-width: 0px !important;
}

.colored {
	background-color: rgba(17, 118, 133, 0.671) !important;
	color: white;
}

.wideIt {
	width: 80%;
}

.centerIt {
	display: flex;
	justify-content: center;
}

.boldIt {
	font-weight: bold;
}

.centerText {
	text-align: center;
}

/* #alignMenu {
    position: absolute !important;  
    left: 50% !important;
    top: 50% !important;
    font-size: 2em;
} */

.buttonColor {
	background-color: rgba(245, 245, 245, 0.644) !important;
	border-color: rgba(67, 88, 93, 0.644) !important;
	color: black;
}

.buttonColor:hover {
	background-color: rgba(245, 245, 245, 0.644) !important;
	border-color: rgba(67, 88, 93, 0.644) !important;
	color: black;
	text-decoration: none;
}

.vertAlignMenu {
	padding-top: 6%;
}

@media (max-width: 1050px) {
	.vertAlignMenu {
		align-items: center;
		padding-top: 0%;
	}
}

#bookingModalFooter {
	display: flex;
	justify-content: space-between;
}

.alignVert {
	vertical-align: middle !important;
}

.noBotMarg {
	margin-bottom: 0px !important;
}

.noWhite {
	white-space: nowrap;
}

.padLeft {
	padding-left: 10px;
}

.flex {
	display: flex;
	padding-top: 10px;
	align-items: center;
}

.menuButton {
	background: rgba(0, 0, 0, 0)
		linear-gradient(45deg, rgba(34, 193, 195, 1) 0%, rgba(238, 253, 45, 1) 90%)
		repeat scroll 0% 0% !important;
	border-color: rgba(67, 88, 93, 0.644) !important;
	color: black;
}

.menuButton:hover {
	background: rgba(0, 0, 0, 0)
		linear-gradient(45deg, rgb(254, 107, 139) 30%, rgb(255, 142, 83) 90%) repeat
		scroll 0% 0% !important;
	border-color: rgba(67, 88, 93, 0.644) !important;
	color: black;
	text-decoration: none;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

.navBar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	padding: 20px 15px 0;
}

.centerButton {
	display: flex;
	justify-content: center;
}

.container_row{
	display: grid;
	text-align: center;
  }
  
  .layer1, .layer2{
	grid-column: 1;
	grid-row: 1;
  }  

.bookingFloatingButton {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 100;	
}

#pageTitle {
	font-family: "Parisienne", cursive;
	font-weight: 500;
	font-size: 5rem;
	text-shadow: -1px -1px 0 #a9a9a9, 1px -1px 0 #a9a9a9, -1px 1px 0 #a9a9a9, 1px 1px 0 #a9a9a9;
	/* color: #fc6076; */
}

.book-btn {
	display: none;
	height: 150px;
	width: 150px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	margin: 30px;
	text-align: center;
	border: none;
	background-size: 300% 100%;

	border-radius: 50%;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.book-btn:hover {
	background-position: 100% 0;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.book-btn:focus {
	outline: none;
}

.book-btn.color-4 {
	background-image: linear-gradient(
		to right,
		#fc6076,
		#ff9a44,
		#ef9d43,
		#e75516
	);
	box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.book-btn.top{
	display: inline-block;
}

.book-btn.animate {
	animation-duration: 1s;
	animation-name: slidein;
	display: block;
}

@keyframes slidein {
	from {
		margin-left: 100%;		
	}

	to {
		margin-left: 0%;		
	}
}
