#headerPic {
	background-image: url(lage-haeuservomsee2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 100vh;
	font-family: "Raleway", sans-serif;
}

.transparent {
	background-color: rgba(23, 163, 184, 0) !important;
	border-width: 0px !important;
}

.colored {
	background-color: rgba(17, 118, 133, 0.671) !important;
	color: white;
}

.wideIt {
	width: 80%;
}

.centerIt {
	display: flex;
	justify-content: center;
}

.boldIt {
	font-weight: bold;
}

.centerText {
	text-align: center;
}

/* #alignMenu {
    position: absolute !important;  
    left: 50% !important;
    top: 50% !important;
    font-size: 2em;
} */

.buttonColor {
	background-color: rgba(245, 245, 245, 0.644) !important;
	border-color: rgba(67, 88, 93, 0.644) !important;
}

.vertAlignMenu {
	padding-top: 6%;
}

@media (max-width: 1050px) {
	.vertAlignMenu {
		align-items: center;
		padding-top: 0%;
	}
}

#bookingModalFooter {
	display: flex;
	justify-content: space-between;
}

.alignVert {
	vertical-align: middle !important;
}

.noBotMarg {
	margin-bottom: 0px !important;
}

.noWhite {
	white-space: nowrap;
}

.padLeft {
	padding-left: 10px;
}

.flex{
	display: flex;
	padding-top: 10px;
}