.resizedTextbox {
	border-width: 0px;
	background-color: rgba(255, 255, 255, 0);
	text-align: center;
}

.alignButton {
	margin-left: 80%;
}

.alignPage {
	margin-left: 2%;
	margin-right: 2%;
	position: relative;
}

.resizeTable {
	max-width: 100% !important;
}

#managementTop {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}

#addButton {
	margin-right: 10px;
}

.clickable {
	cursor: pointer;
}

.notClickable {
	cursor: default;
}

.tableCell {
	text-align: center;
	vertical-align: middle !important;
}

.blueIt {
	color: #0275d8 ;
}

.alignFooter {
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
}