.verticalAlign {
	display: flex;
	align-content: center;
	align-items: center;
}

.boldIt {
	font-weight: bold;
}

.spacing {
	padding-top: 2%;
}

.title {
	font-weight: bold;
	text-align: center;
}

.subTitle {
	font-style: italic;
	text-align: center;
	padding-bottom: 2%;
}
.textTable {
	text-decoration: none !important;
}

.textTable:link {
	text-decoration: none !important;
}

.textTable:visited {
	text-decoration: none !important;
}

.textTable:hover {
	text-decoration: none !important;
}

.textTable:active {
	text-decoration: none !important;
}
