.verticalAlign {
	display: flex;
	align-content: center;
	align-items: center;
}

.boldIt {
	font-weight: bold;
}

.centerText {
	text-align: center;
}

.spacing {
	padding-top: 2%;
}

.title {
	font-weight: bold;
	text-align: center;
	color: rgb(68, 101, 163);
}

.subTitle {
	font-style: italic;
	text-align: center;
	padding-bottom: 2%;
	color: rgb(68, 101, 163);
}

.noMargin {
	margin-bottom: 0px;
}