.buttonColor {
	background-color: rgba(245, 245, 245, 0.644) !important;
	border-color: rgba(67, 88, 93, 0.644) !important;
}

.loginForm {
	margin-left: 10%;
	margin-right: 10%;
	cursor: default;
}

.loginButton {
	margin-right: 10px;
}

.forgotPassword {
	font-size: 0.8rem !important;
	margin-top: 5px;
	margin-bottom: -10px;
	cursor: pointer;
}

.register {
	display: flex;
	justify-content: center;
}

#loginModalFooter {
	display: flex;
	justify-content: space-between;
}

#userProfileContainer {
	display: block;
	width: 100%;
}

#userDataForm {
	display: flex;
	justify-content: space-around;
}

.userLabel {
	margin-right: 2%;
	white-space: nowrap;
}

.userFormGroup {
	display: flex;
}

#bookingCards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	align-items: stretch;
	margin-left: 20px;
	margin-right: 20px;
}

.individualBooking {
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

#userProfilePage {
	margin: 0px 20px 0px 20px;
}

.userProfileTitle {
	margin-top: 20px;
	margin-bottom: 20px;
}

.paymentDueWarning {
	font-weight: bold;
}

#userProfileTop {
	display: flex;
	justify-content: space-between;
}

#forgotPasswordCards {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	align-items: stretch;
	margin-left: 20%;
	margin-right: 20%;
}

#passwordTitle{
	text-align: center;
}

#passwordTop{
	display: flex;
	justify-content: space-around;
	align-items: center;
}