.body-bg {	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; 
	background-size: cover;	
	background-repeat: repeat-y;
	background-position: center center;
	min-height: 100vh;
	min-width: 100vw;
	/* max-height: 100vh; */
}

.recommendationPage {
	margin: 0px 20px 0px 20px;
}

.recommendationTitle {
	align-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: lightblue !important;
	font-weight: 600;
	-webkit-text-stroke: 0.5px blue;
}

.recommendationTop {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.recommendationCards {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	gap: 1rem;
	padding-top: 0.75rem;
}
@media (min-width: 600px) {
	.recommendationCards { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
	.recommendationCards { grid-template-columns: repeat(3, 1fr); }
}

.rec {
	display: flex;
	flex: 1 1 auto;
	background-color: rgba(255,255,255,0.85) !important;
	box-shadow: 8px 8px 4px green;
}

.recFavorite {
	display: flex;
	flex: 1 1 auto;
	background-color: rgba(255,255,255,0.85) !important;
	box-shadow: 8px 8px 4px lightblue;
}

.recBody {
	float: lefrightt;
	clear: none;
}

.recTitle {
	margin-top: 0rem !important;
	margin-bottom: 0rem !important;
	padding: 0px 0px 0px 10px;
	float: right;
	width: 75%;
}

.recSubtitle {
	margin-top: 0rem !important;
	margin-bottom: 0.1rem !important;
	padding: 0px 0px 0px 10px;
	float: right;
	width: 75%;
}

.recImage {
	float: left;
	width: 25%;
	transition: transform .2s;
}

.recImage:hover {
	transform: scale(3.5);
	transform-origin: left;
	z-index: 5;
}

.recText {
	clear: both;
	font-size: 1.1rem;
	line-height: 1.1;
}

.nav-item {
	background-color: rgba(255,255,255,0.7) !important;
}

.nav-item.active {
	background-color: rgba(255,255,255,0.9) !important;
	font-weight: 700 !important;
}

.backToHomeButton {
	margin-top: 20px;
	margin-right: 10px;
	float: right;
}