.body-bg {	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover; 
	background-size: cover;	
	background-repeat: repeat-y;
	background-position: center center;
	min-height: 100vh;
	min-width: 100vw;
	/* max-height: 100vh; */
}

.recommendationPage {
	margin: 0px 20px 0px 20px;
}

.recommendationTitle {
	align-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
	font-weight: 600;
	-webkit-text-stroke: 0.5px darkgray;
}

.recommendationTop {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.recommendationCards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	align-items: stretch;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 0.75rem;
}

.rec {
	display: flex;
	flex: 1 1 auto;
	background-color: rgba(255,255,255,0.85) !important;
	box-shadow: 8px 8px 4px green;
}

.recFavorite {
	display: flex;
	flex: 1 1 auto;
	background-color: rgba(255,255,255,0.85) !important;
	box-shadow: 8px 8px 4px lightblue;
}

.recBody {
	float: lefrightt;
	clear: none;
}

.recTitle {
	margin: 0 !important;
	padding: 0px 0px 0px 10px;
	float: right;
	width: 75%;
}

.recImage {
	float: left;
	width: 25%;
	transition: transform .2s;
}

.recImage:hover {
	transform: scale(3.5);
	transform-origin: left;
}

.recText {
	clear: both;
}

.nav-item {
	background-color: rgba(255,255,255,0.7) !important;
}

.nav-item.active {
	background-color: rgba(255,255,255,0.9) !important;
	font-weight: 700 !important;
}